@media (max-width: 700px) {
    .logo {
        display: none;
    }
    nav {
        flex-wrap: wrap;
        flex-direction: column;
    }
}
@media (max-width: 540px) {
    .banner {
        flex-direction: column;
    }
    .banner-text h1 {
        font-size: 40px;
    }

}