html,
body {
    height: 100%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Lato", "sans-serif";
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-weight: bold;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: #ffc802;
}
.logo img {
    width: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.logo img:hover {
    border: 3px solid #ffc802;
}
.menu {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}
.menu nav {
    list-style: none;
}
.menu ul li {
    display: inline-block;
    font-size: 17px;
    padding-left: 8px;
    font-size: 18px;
    text-transform: uppercase;
}
.menu ul li a:hover {
    font-size: 20px;
    color: #fff;
    border-bottom: 2px solid #ffffff;
}
.menu a:link {
    text-decoration: none;
}
.main {
    flex: 1 0 auto;
    margin-top: 15px;
}
.top-main h1 {
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 10px;
}
.center-main {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-around;
}
.pet {
    border-radius: 15px;
    border-style: none;
    margin: 30px 10px;
    height: 270px;
    background-color: #f1eeee;
    box-shadow: -7px 8px 9px -1px #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pet p {
    font-weight: bold;
    margin-top: 5px;
    font-size: 18px;
}
.pet-img {
    width: 200px;
    height: 180px;
    border-radius: 15px;
    object-fit: cover;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.btn {
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    height: 35px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.btn:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
.btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #E8CE09 0 -3px 0 inset;
    transform: translateY(-2px);
    background-color: #ffc802;
}
.btn:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
}
.banner {
    height: 500px;
    margin-top: 20px;
    background-color: #0374FF;
}
.banner-text h1{
    font-size: 28px;
    text-transform: uppercase;
}



.foot {
    display: flex;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    background-color: #ffc802;
    justify-content: space-around;
    padding-top: 20px;
}
.contact {
    display: flex;
    flex-direction: column;
}
.contact p {
    display: block;
}
.location {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}
.location-img {
    width: 40px;
    margin-right: 10px;
}
.phone {
    display: flex;
    align-items: center;
}
.phone-img {
    width: 40px;
    margin-right: 10px;
}
.mail {
    display: flex;
    align-items: center;
}
.mail-img {
    width: 40px;
    margin-right: 10px;
}
.company {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.about {
    display: block;
    margin-bottom: 10px;
}
.about-ong {
    font-size: 25px;
    margin-bottom: 5px;
}
.mail img {
    width: 40px;
}
.location {
    display: flex;
    flex-direction: row;
}
.phone {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.social-img {
    width: 40px;
    margin-right: 10px;
}
.social-img:first-child {
    margin-left: 0;
}
.social a {
    text-decoration: none;
}
